<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diogojayme.libtvshows">

    <application android:name="com.diogojayme.tvmazeshows.TvShowsApplication">
        <activity
            android:name="com.diogojayme.tvmazeshows.activity.shows.ShowsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>